<form action="{% url 'polls:add_comment' question.id %}" method="post">
    {% csrf_token %}
    {% comment %}
    for security reasons we put {% csrf_token %}
    mostly to handle cross-site attacks
    {% endcomment %}
    <fieldset>
        <legend>
            <h1>{{ question.question_text }}</h1>
        </legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choices.all %}
            <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
            >
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <br>
    <input type="submit" value="vota e commenta">
</form>

{% comment %} <script>
    function mostraCommento() {
        // Cerca l'elemento con id "box-commento"
        var box = document.getElementById("box-commento");

        // Cambia lo stile da "none" (nascosto) a "block" (visibile)
        box.style.display = "block";
    }
</script> {% endcomment %}
